@import "../../node_modules/normalize.css/normalize";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import "../../node_modules/magnific-popup/dist/magnific-popup";


a {
	text-decoration: none;
}

$bg-black: #000000;
$bg-dark: #151515;
$line: #2a2a2a;
$text: #d5d5d5;
$white: #ffffff;
$gradient: linear-gradient(#ff971c, #ff6600);
$orange: #ff781c;
$h1: 700 40px 'Josefin Sans';
$h2: 700 26px 'Josefin Sans';
$title-media: 700 18px 'Josefin Sans';
$txt: 600 16px 'Josefin Sans';
$date: 400 14px 'Josefin Sans';

@mixin flex($content) {
	display: flex;
	justify-content: $content;
}

input[type="radio"] {
	display: none;
}

html {
	background: $line;
}

body {
	max-width: 320px;
	margin: 0 auto;
	font-family: 'Josefin Sans', sans-serif;
	background: $bg-black;
}

.slider {
	@include flex(space-between);
	flex-flow: column;
	height: 432px;

	&__toggles {
		height: 34px;
		align-self: center;
		@include flex(center);
		align-items: center;
	}
	&__toggle {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: $text;
		margin: 3px;

		&:hover,
		&:active,
		&-active {
			background: $orange;
		}

		&:hover,
		&:active {
			cursor: pointer;
		}
	}
}

.slides {
	@include flex(flex-start);
	overflow: hidden;
	flex-grow: 1;
	position: relative;
}

.slide {
	@include flex(flex-end);
	flex-flow: column;
	padding: 22px;
	box-sizing: border-box;
	width: 320px;
	background: $bg-black;
	position: relative;

	&__upper-description {
		position: absolute;
		top: 41px;
		left: 48px;
		font: $txt;
		color: $text;
		z-index: 2;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 13px;
			height: 15px;
			left: -24px;
			top: -2px;
			background: url(../img/hottest.png) no-repeat center center;
			background-size: contain;
		}
	}

	.slider-third > .slide__upper-description:before  {
		background: url(../img/nearest.png) no-repeat center center;
		background-size: contain;
	}

	&__background {
		height: 90%;
		width: 145%;
		top: 50%;
		left: 60px;
		@include flex(flex-start);
		transform: translateY(-50%);
		position: absolute;

		&-current,
		&-next {
			flex-basis: 50%;
			border-radius: 8px;
			margin-right: 10px;
			background: url(../img/first_screen_bg.png) no-repeat center center;
			background-size: cover;
		}

		&-next {
			background: url(../img/second_screen_bg.png) no-repeat center center;
		}
	}

	&__title {
		font: $h1;
		color: $text;
		z-index: 1;
	}
	&__description {
		font: $text;
		color: $orange;
		z-index: 1;
	}
}

.slide-second,
.slide-third {
	position: absolute;
	z-index: 2;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.slide-second {
	z-index: -1;
}

.content {
	background: $bg-dark;

	&__header {
		box-sizing: border-box;
		padding-left: 24px;
		padding-bottom: 32px;
		@include flex(flex-end);
		flex-flow: column;
		height: 100px;
	}

	&__title {
		font: $h2;
		color: $text;
		margin: 0;
	}

	&__article {
		border-top: 1px solid $line;
		@include flex(flex-start);
		align-items: center;
		padding: 24px 12px 24px 60px;
		box-sizing: border-box;
		position: relative;
		min-height: 120px;
		transition: all .8s ease;

		&:hover {
			background: $line;
		}

		&_bookmark {
			position: absolute;
			width: 9px;
			height: 10px;
			background: url(../img/bookmark_button.png) no-repeat center center;
			top: 24px;
			right: 12px;
			transition: all .3s ease-out;

			&:hover {
				cursor: pointer;
				transform: rotate(15deg);
			}

			&:active {
				box-shadow: 0 0 15px $orange;
				transform: rotate(0deg) scale(1.1);
			}
		}

		&_illustration {
			position: absolute;
			left: 0;
			top: 0;
			width: 80px;
			height: 80px;
			border-radius: 8px;
			opacity: .4;
			background: $line;
		}

		&_description {
			z-index: 10;
		}

		&_title {
			font: $title-media;
			color: $text;
			margin: 0;
			margin-bottom: 10px;
		}

		&_text {
			font: $date;
			color: $text;
			margin: 0;
		}
	}
}

.booked .content__article_bookmark {
	background: url(../img/bookmark_feed.png) no-repeat center center;
}

.music {
	.content__article_illustration {
		top: 50%;
		transform: translateY(-50%);
		left: 12px;
	}
}

.video {
	min-height: 200px;

	.content__article_illustration {
		top: 24px;
		left: 12px;
		width: 188px;
		height: 120px;
	}

	.content__article_description {
		align-self: flex-end;

		.content__article_title {
			line-height: 21px;
		}
	}
}

.event {
	min-height: 216px;

	.content__article_illustration {
		top: 50%;
		transform: translateY(-50%);
		left: 12px;
		width: 124px;
		height: 168px;
	}

	.content__article_title {
		margin-bottom: 48px;
		font-size: 22px;
		line-height: 26px;
	}
}

.footer {
	padding: 0 28px;
	box-sizing: border-box;
	height: 48px;
	@include flex(space-between);
	align-items: center;

	&__link {
		font-size: 0;
		position: relative;
	}

	.main {
		width: 20px;
		height: 22px;
		background: url(../img/link_main_bg_1.png) no-repeat top center, url(../img/link_main_bg_2.png) no-repeat bottom center;
	}

	.map {
		width: 23px;
		height: 26px;
		background: url(../img/link_map_bg_1.png) no-repeat top center, url(../img/link_map_bg_2.png) no-repeat bottom center;

		.booked-events {
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: blue;
			color: white;
			top: -10px;
			right: -10px;
			font: $date;
			text-align: center;
			line-height: 20px;
			vertical-align: middle;
			margin: 0;
		}
	}

	.search {
		width: 30px;
		height: 21px;
		background: url(../img/link_search_bg_3.png) no-repeat bottom left;
	}

	.profile {
		width: 27px;
		height: 26px;
		background: url(../img/link_profile_bg_1.png) no-repeat bottom left, url(../img/link_profile_bg_2.png) no-repeat top right;

	}
}





